.allposts{
    display: block;
    margin-top: 110px;
    
}

.report {
    background-color: rgb(125, 4, 4);
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-left: 300px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(104, 104, 104);
}

.postButton {
    background-color: #C98095;
    margin-left: 580px;
    padding: 10px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 2px 2px rgb(104, 104, 104);
    transition: all 0.5s ease 0s;
}

.buttons{
    display: flex;
}

.report {
    
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-left: 300px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(104, 104, 104);
}

.postButton:hover {
    color: black;
    transform: scale(1.3);
    border-radius: 0px;
    transition: all 0.5s ease 0s;
}