.post-header {
    display: flex;
    justify-content: space-between;
    
}

.post {
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid;
    padding: 5px;
}

.links{
    text-decoration: none;
    color: black ;
}