
.main{
    display: flex;
    margin-top: 150px;
}

.alldivs{
    width: 70%;
    height: fit-content;
    border-color: black;
}

.alllogin{
    display: block;
    width: 50%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    
}

.info{
    display: block;
    margin: 40px 100px 0px 100px;
    padding: 20px;
    background-color: #C98095;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.info h2{
    text-align: center;
}

.titleContainer{
    font-size: 64px;
  font-weight: bolder;
  align-items: center;

}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}  

