
.main{
    display: flex;
    margin-top: 150px;
}

.alldivs{
    width: 70%;
    height: fit-content;
    border-color: black;
}

.mainContainer{
    display: block;
    width: 50%;
    height: fit-content;
}

.info{
    display: block;
    margin: 40px 100px 0px 100px;
    padding: 20px;
    background-color: #C98095;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.info h2{
    text-align: center;
}

.mainContainer{
    
}

